body {
  background-color: #289bd0b0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.temp,
.wind {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.temp i,
.wind i {
  margin-right: 10px; /* Dodaje odstęp między ikoną a tekstem */
}

.container {
  display: none;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border: #41403e 2px solid;
  border-radius: 10px;
  width: 230px;
  height: auto;
  box-shadow: 4px 4px 0 #422800;
  color: #422800;
}

#city {
  border-radius: 2px;
  box-shadow: 2px 2px 0 #422800;
  color: #422800;
}

#btn {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: 4px 4px 0 #422800;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#btn:hover {
  background-color: #fff;
}

#btn:active {
  box-shadow: 2px 2px 0 #422800;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  #btn {
    min-width: 120px;
    padding: 0 25px;
  }
}

p {
  width: auto;
  height: auto;
}

.main {
  justify-content: center;
  align-items: center;
  margin: auto;
}

.button-city {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: 15px 28px 25px -18px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-city:hover {
  box-shadow: 2px 8px 8px -5px rgba(0, 0, 0, 0.3);
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
}

.background {
  background-color: #fff;
  width: 500px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 15px 28px 25px -18px rgba(0, 0, 0, 0.2);
}

.image {
  position: relative;
  display: none;
  width: 130px;
  margin: auto;
}
